<%- include ../partials/header.ejs %>


<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Book Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the Book Title"
                    name="Title" 
                    value="<%= book.Title %>"
                    required>
                </div>
                
                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the book"
                    name="Description"
                    required><%= book.Description %></textarea>
                </div>
              
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="number" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Book's Price"
                    name="Price" 
                    value="<%= book.Price %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Book's Author"
                    name="Author" 
                    value="<%= book.Author %>"
                    required>
                </div>
              
                <div class="form-group">
                    <label for="publishedTextField">Genre</label>
                    <input type="text" class="form-control"
                    id="genreTextField"
                    placeholder="Enter the Genre"
                    name="Genre" 
                    value="<%= book.Genre %>"
                    required>
                </div>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/books" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/footer.ejs %>